@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p role="status">Message: @message</p>
<p role="status">Current count: @requestTime</p>
<p role="status">Current count: @responseTime</p>

@code {
    private int currentCount = 0;
    private string message = null;
    private string requestTime = null;
    private string responseTime = null;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        var i = new TestClient();
        var o = await i.TestAsync("my message");
        message = o.Message;
        requestTime = o.TimeProcessing.RequestTime.ToString();
        responseTime = o.TimeProcessing.ResponceTime.ToString();
    }
}
